table{
    border: 3px solid ;
    border-color: #FF6699;
    border-collapse: collapse;
    text-align: center;
}


th, td{
    border: 3px solid #FF6699;
    padding: 10px;
    background-color: rgb(241, 241, 187);
}
.title{
    background-color: #83a1fa !important;
}
.trang{
    background-color: aliceblue !important;
}

